<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="somdoong.mypage.dao.face.CartDao">
	<select id="countCart" resultType="int">
		SELECT COUNT(*)
		FROM cart
		WHERE userid = #{userid}
		AND product_no = #{productNo}
	</select>
	
	<insert id="insert">
		INSERT INTO cart(
		c_id, userid, product_no,c_amount)
		VALUES(
		seq_cart.NEXTVAL, #{userid} , #{productNo}, #{cAmount}
		)

	</insert>
	
	<update id="updateCart">
		UPDATE cart
		SET c_amount = c_amount + #{cAmount}
		WHERE userid = #{userid}
		AND product_no = #{productNo}
	</update>
	
	<select id="listCart" resultType="Cart"> 
		
		SELECT
			c.c_id,
			c.userid,
			p.product_no,
			m.username,
			p.product_name,
			c.c_amount,
			p.price
<!-- 			(price * c_amount) money -->
		FROM 
			sommember m, product p,cart c
		WHERE m.userid = c.userid
			AND p.product_no = c.product_no
			AND c.userid = #{userid}
		ORDER BY 
			c.c_id

	
	</select>
	
	
	  <select id="sumMoney" resultType="int">
        SELECT NVL(SUM(price * c_amount), 0) money
        FROM cart c, product p
        WHERE c.product_no = p.product_no AND c.userid = #{userid}
       </select>
	
	
	
	
</mapper>