<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="somdoong.mypage.dao.face.InquireDao">   	
	 <select id="selectCntAll" resultType="int" parameterType="Inquire">
		SELECT count(*) FROM inquire
	</select>
    
    
     <select id="selectCntMyCount" resultType="int" parameterType="Inquire">
		SELECT count(*) FROM inquire where i_userid=#{iUserid}
	</select>
	
	
    <select id="selectList" resultType="Inquire"  parameterType="InquirePaging">
		SELECT * FROM (
			SELECT rownum rnum, I.* FROM (
				SELECT
					i_num, i_title, i_content , i_category,i_writedate,i_hit,i_username,i_userid
				FROM inquire  
				ORDER BY i_num DESC 
			) I
		) INQUIRE 
		WHERE rnum BETWEEN #{startNo } AND #{endNo }

	</select>


    <select id="selectListMyname" resultType="Inquire"  parameterType="Paging">
		SELECT * FROM (
			SELECT rownum rnum, I.* FROM (
				SELECT
					i_num, i_title, i_content , i_category,i_writedate,i_hit,i_username,i_userid
				FROM inquire  where i_userid= #{iUserid}
				ORDER BY i_num DESC 
			) I
		) INQUIRE 
		WHERE rnum BETWEEN #{startNo } AND #{endNo }

	</select>
	
	<update id="hit" parameterType="Inquire">
		UPDATE inquire
		SET i_hit = i_hit + 1
		WHERE i_num = #{iNum}
	</update>
	
	
	<select id="selectInquire" resultType="Inquire" parameterType="Inquire">
		SELECT i_num, i_title, i_content , i_category,i_writedate,i_hit 
		,i_username,i_userid
		FROM inquire
		WHERE i_num = #{iNum}
	</select>	
	
	
	<insert id="insertInquire" parameterType="Inquire">
		<selectKey order="BEFORE" resultType="int" keyProperty="iNum">
			SELECT inquire_seq.nextval FROM dual
		</selectKey>
		INSERT INTO inquire (  i_num, i_title, i_content , i_category,i_username,i_userid )
		VALUES (#{iNum}, #{iTitle}, #{iContent }, #{iCategory}, #{iUsername }, #{iUserid} )
	</insert>
	
	<insert id="insertFile" parameterType="IBoardFile">
		INSERT INTO iboard_file (i_fileno, i_num , i_origin_name ,i_stored_name )
		VALUES (iboard_file_seq.nextval, #{iNum} , #{iOriginName} , #{iStoredName })
	
	
	</insert>
	
	<select id="selectBoardFileByBoardNo" resultType="IBoardFile" parameterType="Inquire">
		SELECT i_fileno ,i_num, i_origin_name, i_stored_name
		FROM iboard_file
		WHERE i_num = #{iNum}
	</select>
	

	
	<select id="selectBoardFileByFileNo" resultType="IBoardFile" parameterType="IBoardFile">
		SELECT i_fileno ,i_num, i_origin_name, i_stored_name
			FROM iboard_file
		WHERE i_fileno = #{iFileno}
	</select>
	
	<update id="updateInquire" parameterType="Inquire">
		UPDATE inquire
		SET i_title = #{iTitle}
			,i_content = #{iContent}
			,i_category = #{iCategory}
		WHERE i_num = #{iNum}
	</update>
	
	<delete id="deleteFile" parameterType="Inquire">
		DELETE iboard_file
		WHERE i_num = #{iNum}
	</delete>
	
	<delete id="delete" parameterType="Inquire">
		DELETE inquire
		WHERE i_num= #{iNum}
	</delete>
	
	
</mapper>