<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="somdoong.store.dao.face.StoreDao">

	<resultMap type="somdoong.store.dto.Store" id="StoreMap">
		<id column="store_no" property="storeNo"/>
		<id column="product_no" property="productNo"/>
		<result column="category" property="category"/>
		<result column="title" property="title"/>
		<result column="info" property="info"/>
		<result column="reportingDate" property="reportingDate"/>
		
		<association property="product" javaType="somdoong.store.dto.Product">
			<id column="product_no" property="productNo"/>
			<result column="product_name" property="productName"/>
			<result column="price" property="price"/>
			<result column="stock" property="stock"/>
		</association>
		
	</resultMap>

<!-- 카테고리가 일치하는 상품들만 조회하는 쿼리로 수정 -->

	<!-- 상품게시글 목록 전체 조회 -->
	<select id="selectAll" resultMap="StoreMap">
		SELECT s.store_no, s.product_no, s.category, p.product_name,s.title
				, s.info, p.price, p.stock, s.reportingdate
		FROM store s, product p
		WHERE s.product_no = p.product_no
		ORDER BY store_no
	</select>
	
	<!-- 상품정보 목록 전체 조회 -->
	<select id="selectAllProduct" resultMap="StoreMap">
		SELECT * FROM product
	</select>

	<!-- 카테고리별 상품 조회 -->
	<select id="selectByCategory" resultMap="StoreMap" parameterType="String">
		SELECT s.store_no, s.product_no, s.category, p.product_name,s.title
        		, s.info, p.price, p.stock, s.reportingdate
		FROM store s, product p
		WHERE s.product_no = p.product_no
		AND category = #{category }
	</select>
	
	<!-- 상품정보 상세보기 -->
	<select id="selectPostByStoreNo" resultMap="StoreMap" parameterType="somdoong.store.dto.Store">
		SELECT s.store_no, s.product_no, s.category, p.product_name,s.title
		        , s.info, p.price, p.stock, s.reportingdate
		FROM store s, product p
		WHERE s.product_no = p.product_no
		AND store_no = #{storeNo }
	</select>
	
	<!-- 상품 정보 등록 -->
	<insert id="insertProduct" parameterType="somdoong.store.dto.Product">
		<selectKey order="BEFORE" resultType="int" keyProperty="productNo">
			SELECT product_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO product( product_no, product_name, price, stock )
		VALUES ( #{productNo }, #{productName }, #{price }, #{stock } )
	</insert>
	
	<!-- 상품 게시글 등록 -->
	<insert id="insertStore" parameterType="somdoong.store.dto.Store">
		<selectKey order="BEFORE" resultType="int" keyProperty="storeNo">
			SELECT store_seq.nextval FROM dual
		</selectKey>

		INSERT INTO store( s.store_no, p.product_no, p.product_name, s.category, s.title,
							s.info, p.price, p.stock, s.reportingDate )
		VALUES ( #{storeNo }, product_seq.nextval , #{productName } , #{category }, #{title }, 
				#{info }, #{price }, #{stock }, default )
	</insert>
	
	<!-- 상품이미지 등록 -->
	<insert id="insertImg" parameterType="somdoong.store.dto.ProductImg">
		INSERT INTO product_img ( img_no, product_no, store_no, origin_name, stored_name )
		VALUES ( product_img_seq.nextval, #{productNo }, #{storeNo }, #{originName }, #{storedName } )
	</insert>
	
	<select id="selectProductImgByStoreNo" resultType="somdoong.store.dto.ProductImg" parameterType="somdoong.store.dto.Store">
		SELECT
			img_no, store_no, origin_name, stored_name
		FROM product_img
		WHERE store_no = #{storeNo }
	</select>
	
	
</mapper>