<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="somdoong.community.dao.face.RecommendboardDao">

	<select id="selectCntAll" resultType="int">
		select count(*) from recommendboard
	</select>


	<select id="selectList" resultType="Recommendboard" parameterType="Paging" >
		SELECT * FROM (
			SELECT rownum rnum, R.* FROM (
				SELECT
					rno, title, content , userid, hit, write_date
				FROM recommendboard
				ORDER BY rno DESC
			) R
		) recommendboard
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	
	<update id="hit" parameterType="Recommendboard">
		update recommendboard
		set hit = hit+1
		where rno = #{rno}
	</update>
	
	<select id="selectBoard" resultType="Recommendboard" parameterType="Recommendboard">
		select
			rno, title, content, userid, hit, write_date
			from recommendboard
		where rno = #{rno}
	</select>
	
	

</mapper>