<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="somdoong.community.dao.face.ScommDao">

	<select id="list" resultType="somdoong.community.dto.SboardComm" parameterType="int">
		SELECT s_commno, comm_content, comm_date, sno, userid FROM sboard_comment
		WHERE sno = #{sno}
		ORDER BY s_commno DESC
	</select>

	<!-- 댓글 등록 -->
	<insert id="write" parameterType="somdoong.community.dto.SboardComm">
		INSERT INTO sboard_comment(s_commno, comm_content, sno, userid)
		VALUES (seq_sboard_comment.nextval, #{comm_content}, #{sno}, #{userid})
	</insert>
	
	<!-- 단일 댓글 조회 -->
	<select id="replySelect" parameterType="somdoong.community.dto.SboardComm" resultType="somdoong.community.dto.SboardComm">
	select
		s_commno, comm_content, comm_date, sno, userid
	FROM sboard_comment
		where sno = #{sno}
		and s_commno = #{s_commno}					
	</select>

	<!-- 댓글 수정 -->
<update id="replyModify" parameterType="somdoong.community.dto.SboardComm">
	update tbl_reply set
		writer = #{writer},
		content = #{content}
	where rno = #{rno}
		and bno = #{bno}	
</update>

</mapper>