<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="somdoong.admin.dao.face.InCommDao">

	<!-- 댓글 등록 -->
	<insert id="insertInComm" parameterType="InComm">
		INSERT INTO incomm
		( incno, i_num, adminid, incommContent ) 
		VALUES ( incomm_seq.nextval, #{iNum}, #{adminid}, #{incommContent} )
	</insert>
	
	<select id="selectInCommlistByINum" resultType="InComm" parameterType="int">
		SELECT 
			i.incno, i.i_num, i.incommContent, i.adminid,
		 	to_char(i.commdate, 'yy/mm/dd') commdate
		FROM incomm i
		join admin a on i.adminid = a.adminid
		WHERE i.i_num = #{iNum}
		START WITH i.parent_no = 0
		CONNECT BY prior i.incno = i.parent_no
		ORDER SIBLINGS BY i.incno ASC
	</select>
	
	<update id="updateInComm" parameterType="InComm">
		UPDATE incomm SET incommContent= #{incommContent}
		WHERE incno = #{incno}
	</update>

	<insert id="insertCmt" parameterType="InComm">
		INSERT INTO incomm  
		( incno, i_num, adminid, incommContent, parent_no )
		VALUES 
		( incomm_seq.nextval, #{iNum}, #{adminid}, #{incommContent}, #{parentno} )
	</insert>
	
	<update id="updateCmt" parameterType="InComm">
		UPDATE incomm SET incommContent= #{incommContent}
		WHERE incno = #{incno}
	</update>
	
	<delete id="deleteCmt" parameterType="int">
		DELETE FROM
			incomm
		WHERE
			incno = #{incno}	
	</delete>
	
	<delete id="deleteChildCmt" parameterType="int">
		DELETE FROM
			incomm
		WHERE
			parent_no = #{parentno}	
	</delete>
	

</mapper>
			