<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="somdoong.notice.dao.face.NoticeDao">
	
	<select id="selectCntAll" resultType="int">
		SELECT count(*) FROM notice
	</select>
	
	<select id="selectList" resultType="Notice" parameterType="Paging">
		SELECT * FROM (
			SELECT rownum rnum, N.* FROM (
				SELECT notino, adminid, ntitle, ncontent, hit, notidate
				FROM notice	
				ORDER BY notino DESC
			) N
		) notice
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<!-- 검색 리스트 조회 -->
	<select id="selectSearchlist" resultType="Notice" parameterType="Paging" >
		SELECT * FROM (
		    SELECT rownum rnum, N.* FROM (
		        SELECT notino, adminid, ntitle, ncontent, hit, notidate
		        FROM notice
		        <choose>
					<when test="searchType == 'ntitle'">
						where ntitle like '%'|| #{keyword} ||'%'
					</when>
		
					<when test="searchType == 'ncontent'">
						where ncontent like '%'|| #{keyword} ||'%'
					</when>
				</choose>
		        ORDER BY notino DESC
		    ) N
		) Notice
	</select>
	
	<!-- 검색 리스트 페이징 -->
	<select id="getPagingSearchCnt" parameterType="Paging" resultType="int">
		select count(*) from notice 
		<choose>
			<when test="searchType == 'ntitle'">
				WHERE ntitle like '%'|| #{keyword} ||'%'
			</when>
			<when test="searchType == 'ncontent'">
				WHERE ncontent like '%'|| #{keyword} ||'%'
			</when>
		</choose>
	</select>

	<update id="hit" parameterType="Notice">
		UPDATE notice
		SET hit = hit + 1
		WHERE notino = #{notino}
	</update>
	
	<select id="selectNotice" resultType="Notice" parameterType="Notice">
		SELECT
			notino, adminid, ntitle , ncontent, hit, notidate
		FROM notice
		WHERE notino = #{notino}
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		<selectKey order="BEFORE" resultType="int" keyProperty="notino">
			SELECT notice_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO notice ( notino, adminid, ntitle , ncontent)
		VALUES ( #{notino }, #{adminid }, #{ntitle }, #{ncontent })
	</insert>
	
	<insert id="insertFile" parameterType="NoticeFile">
		INSERT INTO noticefile ( file_no, notino, origin_name, stored_name)
		VALUES ( noticefile_seq.nextval, #{notino }, #{originName }, #{storedName } )
	</insert>

	<select id="selectNoticeFileByNotino" resultType="NoticeFile" parameterType="Notice">
		SELECT
			file_no, notino, origin_name, stored_name
		FROM noticefile
		WHERE notino = #{notino }
	</select>

	<select id="selectNoticeFileByFileNo" resultType="NoticeFile" parameterType="NoticeFile">
		SELECT
			file_no, notino, origin_name, stored_name
		FROM noticefile
		WHERE file_no = #{fileNo }
	</select>	
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE notice
		SET ntitle = #{ntitle}
			, ncontent = #{ncontent}
		WHERE notino = #{notino}
	</update>
	
	<delete id="deleteFile" parameterType="Notice">
		DELETE noticefile
		WHERE notino = #{notino}	
	</delete>	
	
	<delete id="delete" parameterType="Notice">
		DELETE notice
		WHERE notino = #{notino}	
	</delete>

</mapper>